/* Logo */

#logo {
    display: inline-block;
}

#logo h1 {
    background-color: #00acee;
    color: white;
    border-radius: 6px;
    font-family: 'Oleo Script', serif;
    font-weight: 400;
    padding: 0.25em 0.2em 0.25em 0.2em;
    font-size: 2.25em;
    letter-spacing: 0.05em;
}

#logo a:visited {
    color: white;
}

#logo a:link {
    color: white;
}

#logo:hover {
    opacity: 0.8;
}

/* Navigation */

#nav {
    float: right;
    top: 10px;
    font-size: 1em;

    display: flex;
    flex-flow: row wrap;
}

#nav ul {
    list-style: none;
    padding-inline-start: 5px;
}

#nav ul li {
    float: left;
    line-height: 4.5em;
    padding-left: 1em;
}

#nav ul li a, #nav ul li span {
    font-weight: 800;
    letter-spacing: 0.025em;
    color: #696969;
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5em 1em;
}

#nav ul li:hover a, #nav ul li:hover span {
    outline: 2px solid #00acee;
    outline-offset: -2px;
}

#nav ul li.active a, #nav ul li.active span {
    outline: 2px solid #00acee;
    outline-offset: -2px;
}

#nav ul li.current a {
    background: #00acee;
    color: #fff;
}

#nav .search-container {
    float: right;
}

#nav .search-container input {
    font-size: 17px;
    border: none;
    padding: 0.75em 1em 0.4em;
    margin-right: -4px;
}

#nav .search-container button {
    border: none;
    background: #00acee;
    padding: 0.6em;
    border-radius: 0 6px 6px 0;
}

#nav .search-container img {
    width: 20px;
    height: 20px;
}

#nav .search-container form {
    padding-top: 33px;
}

/* Responsive */

@media screen and (max-width: 1180px) {
    #nav {
        display: block;
    }

    .container .form-container {
        width: 65%;
    }

    .phone-detail-img {
        width: 50%;
    }

    .phone-detail-info {
        width: 50%;
    }
}

@media screen and (max-width: 810px) {
    #nav {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    #nav li{
        padding: 5px 0;
    }

    #logo{
        text-align: center;
        padding: 0 10px;
        width: 100%;
    }

    .nav .search-container {
        padding-top: 0;
    }

    .container {
        width: 85%;
    }

    .container .form-container {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .container .form-container {
        width: 95%;
    }
}

/* Container and Form */

.container {
    max-width: 100%;
    width: 75%;
    margin: 0 auto 1rem;
}

.form-container {
    padding: 1rem 0;
    font-size: 1.2em;
    text-align: center;
    border: 2px solid #00acee;
    border-radius: 10px;
    width: 50%;
}

.form-container input[type=text], input[type=password], input[type=number], textarea{
    width: 95%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container button{
    background-color: #00acee;
    padding: 14px 20px;
    margin: 8px 0;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #00acee;
    border-radius: 5px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    border: 2px solid #00acee;
    border-radius: 10px;
    padding: 5px;
    width: 270px;
    height: 500px;
    margin: 10px 10px;
}

.flex-item button{
    background-color: #00acee;
    padding: 10px 104px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #00acee;
    border-radius: 0 0 10px 10px;
    bottom: 0;
}

.fill {
    width: 230px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
}
.fill img {
    height: 100%;
}

.flex-item p{
    padding-left: 10px;
}

.box {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 2em;
}

.phone-detail-img {
    width: 30%;
    float: left;
}

.phone-detail-info {
    width: 30%;
    font-size: 1.3em;
    float: left;
}

@media screen and (max-width: 1180px) {
    .phone-detail-img {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .phone-detail-img, .phone-detail-info {
        width: 100%;
    }
}

/* Others */

.phone-name {
    padding: 5px 0 0 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.notice {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.notice p {
    margin-block-start: 0;
}

.list-item {
    margin-left: 10px;
}

#placeholder{
    padding-top: 30px;
}

body {
    background-image: url("bg.png");
    background-color: #f7f7f7;
    background-position: top left;
}

footer {
    margin: 1rem 0;
    width: 100%;
    height: 5rem;
}

.footer-column-left {
    width: 40%;
}

.footer-column-right {
    width: 30%;
}

.footer-column a:link, a:visited{
    color: #0073aa;
}

@media screen and (max-width: 1100px) {
    .footer-column-left {
        width: 50%;
    }

    .footer-column-right {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .footer-column-left {
        width: 100%;
    }

    .footer-column-right {
        width: 100%;
    }
}

h2 {
    margin-block-start: 0.2em;
    margin-block-end: 0.55em;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0.55em;
}

.center {
    display: flex;
    justify-content: center;
}

.delete-button {
    background-color: #fa4353;
    padding: 14px 20px;
    margin: 32px 0 0 0;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #fa4353;
    border-radius: 5px;
}

.add-button {
    background-color: #00fa4e;
    padding: 14px 20px;
    margin: 0 0 20px 0;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    border: 1px solid #00FA4E;
    border-radius: 5px;
}

.profile-info {
    font-size: 1.3em;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}