<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:fragment="phone" class="flex-item" th:each="phone : ${phones}">
    <div class="fill center">
        <img  th:src="${phone.imgsrc}" th:alt="${phone.phoneName}"></div>
    <!--Check if the phone name is logger than 20 char, if yes, only show the first 20 char-->
    <div class="phone-name" th:if="${phone.phoneName.length() < 20}" th:text="${phone.phoneName}">LG Q7</div>
    <div class="phone-name" th:unless="${phone.phoneName.length() < 20}" th:text="${phone.phoneName.substring(0, 20)} + '...'"}>LG Q7</div>
    <p>
        <b>Price: </b> €<a th:text="${phone.price}"></a>
        <br>
        <!--Check if the phone description is logger than 20 char, if yes, only show the first 20 char-->
        <b>Description: </b>    <a th:if="${phone.description.length() < 20}" th:text="${phone.description}"></a>
        <a th:unless="${phone.description.length() < 20}" th:text="${phone.description.substring(0, 20)} + '...'"></a>
    </p>
    <form th:if="${!isLoggedIn}"  class="center" method="get" th:action="@{/phone/{id}(id=${phone.id})}">
        <button type="submit">Detail</button>
    </form>
    <form th:if="${isLoggedIn}"  class="center" method="get" th:action="@{/phone/{id}(id=${phone.id})}">
        <button type="submit">Edit</button>
    </form>
</div>
</body>
</html>