<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new phone - Phone Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="container">
    <div id="logo">
        <h1><a href="/">Phone Manager</a></h1>
    </div>

    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li th:if="${!isLoggedIn}"><a href="/register">Register</a></li>
            <li th:if="${!isLoggedIn}"><a href="/login">Login</a></li>
            <li th:if="${isLoggedIn}"><a href="/profile">Profile</a></li>
            <li th:if="${isLoggedIn}"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="flex-container container box center">
    <div class="center phone-name" th:if="${!isLoggedIn}" style="width: 100%"><p>Login to add new phone</p></div>

    <div th:if="${isLoggedIn}" class="center" style="width: 100%">
        <form class="form-container" th:action="@{/add-phone}" method="post" style="padding-top: 0">
            <h2>ENTER NEW PHONE INFORMATION</h2><hr>
            <div><b>Phone name</b></div>
            <input type="text" placeholder="Enter phone name" name="phoneName" required autofocus>

            <div><b>Price</b></div>
            <input type="number" placeholder="Enter price" name="price" required>

            <div><b>Description</b></div>
            <textarea type="text" placeholder="Enter description" name="description" required></textarea>

            <div><button type="submit">Add</button></div>
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer">It's footahh</div>
</body>
</html>