<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<div class="container">
    <div id="logo">
        <h1><a href="/">Phone Manager</a></h1>
    </div>

    <nav id="nav">
        <div class="search-container">
            <form th:action="@{/search(name=${search.searchQuery})}" th:object="${search}" method="get">
                <input type="text" placeholder="Search for brand or phone" name="search" th:field="*{searchQuery}" required autofocus>
                <button type="submit"><img th:src="@{search.png}" th:alt="Search"></img></button>
            </form>
        </div>

        <ul>
            <li class="current"><a href="/">Home</a></li>
            <li th:if="${!isLoggedIn}"><a href="/register">Register</a></li>
            <li th:if="${!isLoggedIn}"><a href="/login">Login</a></li>
            <li th:if="${isLoggedIn}"><a href="/profile">Profile</a></li>
            <li th:if="${isLoggedIn}"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="flex-container container center box">
    <div class="center notice" th:if="${!isLoggedIn}" style="width: 100%"><p>Login to manage phones</p></div>
    <div class="center" th:if="${isLoggedIn}" style="width: 100%"><a href="/add-phone"><button class="add-button">Add New Phone</button></a></div>
    <div class="center notice" th:if="${phones.size() == 0}" style="width: 100%"><p>Phones will be shown here if you add more</p></div>

    <div th:replace="fragments/loop-phone :: phone">It's the phoneeeeeeees</div>
</div>

<div th:replace="fragments/footer :: footer">It's footahh</div>
</body>
</html>