<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${phone.phoneName} + ' - Phone Manager'"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="container">
    <div id="logo">
        <h1><a href="/">Phone Manager</a></h1>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li th:if="${isLoggedIn}"><a href="/register">Register</a></li>
            <li th:if="${isLoggedIn}"><a href="/login">Login</a></li>
            <li th:if="${!isLoggedIn}"><a href="/profile">Profile</a></li>
            <li th:if="${!isLoggedIn}"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="flex-container container box center">
    <div class="phone-detail-img">
        <div class="fill">
            <img th:src="@{'~/'+${phone.imgsrc}}" th:alt="${phone.phoneName}">
        </div>
    </div>
    <div class="phone-detail-info">
        <div class="phone-name" th:text="${phone.phoneName}">LG Q7</div>
        <p>
            <b>Price: </b> €<a th:text="${phone.price}"></a>
            <br>
            <b>View: </b> <a th:text="${phone.view}"></a>
            <br>
            <b>Description: </b> <a th:text="${phone.description}"></a>
        </p>
    </div>
</div>

<div th:if="${!isLoggedIn}" class="flex-container container box center">
    <div class="center" style="width: 100%">
        <form class="form-container" th:action="@{/phone/{id}(id=${phone.id})}" method="post" th:object="${phone}" style="padding-top: 0">
            <h2>EDIT PHONE INFORMATION</h2><hr>
            <div><b>Name</b></div>
            <input type="text" placeholder="Enter new phone name" name="phoneName" th:field="*{phoneName}" required autofocus>

            <div><b>Price</b></div>
            <input type="number" placeholder="Enter new price" name="price" step="any" th:field="*{price}" required>

            <div><b>Description</b></div>
            <textarea type="text" placeholder="Enter new description" name="description" th:field="*{description}" required></textarea>

            <div><button type="submit">Save</button></div>
        </form>
    </div>

    <div>
        <a class="center" th:href="@{/phone/{id}/delete(id=${phone.id})}">
            <button class="delete-button">Delete</button>
        </a>
    </div>
</div>

<div th:replace="fragments/footer :: footer">It's footahh</div>
</body>
</html>