<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile - Phone Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<div class="container">
    <div id="logo">
        <h1><a href="/">Phone Manager</a></h1>
    </div>

    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="current"><a href="profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>

<div class="container box center">
    <div class="profile-info">
        <h2>YOUR ACCOUNT INFORMATION</h2><hr>
        <b>Username: </b> <a th:text="${user.username}"></a>
        <br>
        <b>Name: </b> <a th:text="${user.name}"></a>
        <br>
        <b>Age: </b> <a th:text="${user.age}"></a>
        <br>
        <b>Last login on: </b> <a th:text="${lastVisitedDate}"></a>
        <br>
        <b>Account created on: </b> <a th:text="${user.createdOn}"></a>
    </div>
</div>

<div class="flex-container container box center">
    <form class="form-container" th:action="@{/profile}" method="post" style="padding-top: 0">
        <h2>EDIT YOUR ACCOUNT INFORMATION</h2><hr>
        <div><b>Name</b></div>
        <input type="text" placeholder="Enter your new name" name="name" required autofocus>

        <div><b>Age</b></div>
        <input type="number" placeholder="Enter your new age" name="age" required>

        <div><button type="submit">Save</button></div>
    </form>
</div>

<div th:replace="fragments/footer :: footer">It's footahh</div>
</body>
</html>