<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register - Phone Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<div class="container">
    <div id="logo">
        <h1><a href="/">Phone Manager</a></h1>
    </div>

    <nav id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="current"><a href="register">Register</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </nav>
</div>

<div class="container box center">
    <form class="form-container" th:action="@{/register}" method="post">
        <h2>REGISTER</h2><hr>
        <div><b>Username</b></div>
        <input type="text" placeholder="Enter Username" name="username" required autofocus>

        <div><b>Password</b></div>
        <input type="password" placeholder="Enter Password" name="password" required>

        <div><button type="submit">Register</button></div>
        <div><p th:if="${duplicateUsername}" th:text="${duplicateUsername}"></p></div>
    </form>
</div>

<div th:replace="fragments/footer :: footer">It's footahh</div>
</body>
</html>
