<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Phone Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style.css}"/>
</head>
<body>
<div class="container">
    <div id="logo">
        <h1><a href="/">Phone Manager</a></h1>
    </div>

    <nav id="nav">
        <div class="search-container">
            <form th:action="@{/search(name=${search.searchQuery})}" th:object="${search}" method="get">
                <input type="text" placeholder="Search for brand or phone" name="search" th:field="*{searchQuery}" required>
                <button type="submit"><img th:src="@{search.png}" th:alt="Search"></img></button>
            </form>
        </div>

        <ul>
            <li><a href="/">Home</a></li>
            <li th:if="${!isLoggedIn}"><a href="/register">Register</a></li>
            <li th:if="${!isLoggedIn}"><a href="/login">Login</a></li>
            <li th:if="${isLoggedIn}"><a href="/profile">Profile</a></li>
            <li th:if="${isLoggedIn}"><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</div>

<div id="placeholder"></div>

<div class="flex-container container center box">
    <div th:replace="fragments/loop-phone :: phone">It's the phoneeeeeeees</div>

    <!--In case no phone matched search query-->
    <div style="font-weight: bold; font-size: 2em; text-align: center"  th:if="${phones.size() == 0}">
        <p>No phone or brand match your search query: <p th:text="${search.searchQuery}"></p>
    </div>

    <!--Display previous search query, get from cookie-->
    <div style="font-size: 1.5em; text-align: center; width: 100%">
        <p style="font-weight: bold">Your previous search query: <br></p>
        <p ><a th:href="@{/search(searchQuery=${searchedQuery})}" th:each="searchedQuery : ${searchedQueries}" th:text="${searchedQuery} + ' '"></a></p>
    </div>
</div>

<div th:replace="fragments/footer :: footer">It's footahh</div>
</body>
</html>